<a href="https://colab.research.google.com/github/tghose21/DS_1002_Repository/blob/main/DS_1002_HW_Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [3]:
# Load pandas and the data
import pandas as pd
df = pd.read_csv('/content/ride_sharing (1).csv')
print(df['duration'])

0        12 minutes
1        24 minutes
2         8 minutes
3         4 minutes
4        11 minutes
            ...
25755    11 minutes
25756    10 minutes
25757    14 minutes
25758    14 minutes
25759    29 minutes
Name: duration, Length: 25760, dtype: object

In [4]:
# show how many rows and columns are in this dataset
rows = df.shape[0]
print("There are " + str(rows) + " rows in the dataset.")

columns = df.shape[1]
print("There are " + str(columns) + " columns in the dataset.")

There are 25760 rows in the dataset.
There are 10 columns in the dataset.

In [5]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df['duration'] = df['duration'].astype(str).str.strip(' minutes')
df['duration'] = df['duration'].astype(int)

In [6]:
# Now display the datatypes in the updated dataframe
print(df.dtypes)

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [7]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
min = df['duration'].min()
print(str(min) + " is the min value! ")

max = df['duration'].max()
print(str(max) + " is the max value! ")

1 is the min value!
1372 is the max value!

In [8]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
dfSixty = df.query('duration <61')

In [9]:
# Now show both the min and max values of the duration column for your new dataset.
min = dfSixty['duration'].min()
print(str(min) + " is the min value! ")

max = dfSixty['duration'].max()
print(str(max) + " is the max value! ")

1 is the min value!
60 is the max value!

In [10]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
dfSixtyTires = dfSixty.query('tire_size == 26')

In [11]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
dfSixtyTiresW = dfSixtyTires.query('user_gender == "Female"')
count = len(dfSixtyTiresW)
print((str(count)) + " is the number of how many female riders using the 26-inch wheeled rental bikes for their rentals of one hour or less")

2962 is the number of how many female riders using the 26-inch wheeled rental bikes for their rentals of one hour or less

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [13]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
df = pd.read_csv('/content/more-messy-data.csv')
duplicates = df.duplicated().sum()
print("There are " + str(duplicates) + " duplicates in the data frame")

There are 287 duplicates in the data frame

In [14]:
# Next, remove all duplicate rows using Python.
df = df.drop_duplicates()

In [32]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
means = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].mean()
for value in ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']:
    # Check if there are NaN values in the column
    if df[value].isnull().any():
        # If a value is NaN fill it with the mean of the column
        df[value].fillna(means[value], inplace=True)

<ipython-input-32-dc4eb36aa305>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  means = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']].mean()

In [18]:
# Find any values in the dataframe that are still missing, and delete them.
df.dropna(inplace=True)

In [28]:
# How many different species are there?
# Count the number of unique species
df['species'] = df['species'].str.lower()
species = df['species'].unique()

typos = {'virginia': 'virginica'}
typos = {'setoso': 'setosa'}
typos = {'setosan': 'setosa'}
typos = {'setoso': 'setosa'}

df['species'].replace(typos, inplace=True)

num_species = df['species'].nunique()
print(str(num_species) + " is the number of unique species. ")

3 is the number of unique species.

In [30]:
# Clean up the 'species' variable so that there are exactly three different values.
print(str(num_species) + " is the number of unique species. ")

3 is the number of unique species.

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.