<a href="https://colab.research.google.com/github/tghose21/DS_1002_Repository/blob/main/HW_3_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas exercises 1

1. Import dependencies

In [ ]:
import pandas as pd
import numpy as np

---

In [ ]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

In [ ]:
seriesOfList = pd.Series(list)
print(seriesOfList)

0    98
1    24
2    46
3    87
4    33
dtype: int64

3. Take the above series and add an index that starts at 2 and steps by 3

In [ ]:
# Make new indexes starting at 2 and increments by 3
newIndex = range(2, 2 * len(seriesOfList) + 5, 3)
# Set indexes of the series to newIndex
newIndexSeries = pd.Series(seriesOfList.values, index = newIndex)
print(newIndexSeries)

2     98
5     24
8     46
11    87
14    33
dtype: int64

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

In [ ]:
# Create columns and rows
dictionary = {'Name': ['August', 'Betty', 'James', 'Inez' ], 'Age': [20, 23, 29, 50], 'Career': ['Vet', 'Doctor', 'Teacher', 'Lawyer']}
# Convert to a dataframe
df = pd.DataFrame(dictionary)
print(df)

     Name  Age   Career
0  August   20      Vet
1   Betty   23   Doctor
2   James   29  Teacher
3    Inez   50   Lawyer

5. Name the index of `df` 'participant_id'.  
Print `df`.

In [ ]:
# Add participant_id
df.index.name = 'participant_id'
print(df)

                  Name  Age   Career
participant_id
0               August   20      Vet
1                Betty   23   Doctor
2                James   29  Teacher
3                 Inez   50   Lawyer

6. Use a pandas function to determine the data types of the columns of `df`.

In [ ]:
print(df.dtypes)

Name      object
Age        int64
Career    object
dtype: object

7. Using bracket notation, reference column `name`

In [ ]:
# Access the column 'name' through bracket notation
nameColumn = df['Name'].values
print(nameColumn)

['August' 'Betty' 'James' 'Inez']

8. Using dot notation, reference column `name`

In [ ]:
# Access the column 'name' through dot notation
nameColumn = df.Name.values
print(nameColumn)

['August' 'Betty' 'James' 'Inez']

8. Reference column `name` and have it returned in a dataframe.

In [ ]:
nameColumn = df['Name']
print(nameColumn)

participant_id
0    August
1     Betty
2     James
3      Inez
Name: Name, dtype: object

9. Show the 3rd element in column `career`.

In [ ]:
# Access 3rd element using indexing of column
elementThree = df['Career'][2]
print(elementThree)

Teacher

10.  Load the `iris` dataset that we used in class.  Use `iris` as the name of your data frame.

In [ ]:
import seaborn as sns
# Load dataset and name it iris
iris = sns.load_dataset("iris")
iris = pd.DataFrame(iris)
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

11.  What is the correlation between the variables `sepal_length` and `sepal_width` for all the irises?

In [ ]:
# Use correlation function with inputs of sepal_length and sepal_width
iris[['sepal_length','sepal_width']].corr()

              sepal_length  sepal_width
sepal_length       1.00000     -0.11757
sepal_width       -0.11757      1.00000

12.  Which of the three species has the highest correlation between `sepal_length` and `sepal_width`?  Show any calculations you use to support your answer.

In [ ]:
# Create empty list
correlationList = []
# Access each species
for species, group in iris.groupby('species'):
  # Access the correlation of sepal_length and sepal_width for each species
  correlation = group[['sepal_length','sepal_width']].corr().iloc[0,1]
  # Append values to list
  correlationList.append((species, correlation))

# Sort list
correlationList.sort(key=lambda x: abs(x[1]), reverse = True)

# Access the top 3 correlations
top3 = correlationList[:3]

# Print out species specifically
for species, correlation in top3:
  print(species)

setosa
versicolor
virginica

13.  Among the four variables, the two that are most negatively correlated (overall) are `sepal_width` and `petal_length`.  (How do we know this?)  Determine the same thing but for each species separately:  for each species, which two variables have the most negative (or the least positive) correlation?  Again, include calculations to support your answer.

In [ ]:
# Access table of all correlations
overallCorrelation = iris[['sepal_length','sepal_width','petal_length', 'petal_width']].corr()
# Stack will restructure the data frame and idxmin will fine the smallest value, acessing the indexing with row and column
row, column = overallCorrelation.stack().idxmin()
print("The most negatively correlated variables are " + row + " and " + column + "\nWe know this because of the overall values, it is the lowest values(least positive). ")

The most negatively correlated variables are sepal_width and petal_length
We know this because of the overall values, it is the lowest values(least positive).

In [ ]:
# Specifcally look at setosa species
setosa = iris[iris['species'] == 'setosa']
# Access table of all correlations
setosaCorrelation = setosa[['sepal_length','sepal_width','petal_length', 'petal_width']].corr()
# stack will restructure the data frame and idxmin will fine the smallest value, acessing the indexing with row and column
row, column = setosaCorrelation.stack().idxmin()
print("The most negatively correlated variables for setosa are " + row + " and " + column)

# Specifcally look at versicolor species
versicolor = iris[iris['species'] == 'versicolor']
# Access table of all correlations
versicolorCorrelation = versicolor[['sepal_length','sepal_width','petal_length', 'petal_width']].corr()
# Stack will restructure the data frame and idxmin will fine the smallest value, acessing the indexing with row and column
row, column = versicolorCorrelation.stack().idxmin()
print("The most negatively correlated variables for versicolor are " + row + " and " + column)

# Specifcally look at virginica species
virginica = iris[iris['species'] == 'virginica']
# Access table of all correlations
virginicaCorrelation = virginica[['sepal_length','sepal_width','petal_length', 'petal_width']].corr()
# Stack will restructure the data frame and idxmin will fine the smallest value, acessing the indexing with row and column
row, column = virginicaCorrelation.stack().idxmin()
print("The most negatively correlated variables for virginica are " + row + " and " + column)

The most negatively correlated variables for setosa are sepal_width and petal_length
The most negatively correlated variables for versicolor are sepal_length and sepal_width
The most negatively correlated variables for virginica are sepal_length and petal_width

14.  Once again, the variables `sepal_width` and `petal_length` are negatively correlated.  But for each individual species, these two variables are positively correlated.  How is this possible?  Explain this phenomenon.  Use a data visualization if it helps.

In [ ]:
# Although each individual species may have a positive correlation for sepal_width and petal_length, the overall correlation can be negative due to differences in the distribution of of each species. Additionally, the variance will impact how data is distributed which can cause an overall negative correlation.